<!-- footer -->
<footer class="bg-dark footer-section">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-light">Email</h5>
                    <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-light">Name</h5>
                    <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.name }}</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-light">Address</h5>
                    <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.address }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top text-center border-dark py-5">
		本站总访问量<span id="busuanzi_value_site_pv"></span>次
		本站访客数<span id="busuanzi_value_site_uv"></span>人次
		本文总阅读量<span id="busuanzi_value_page_pv"></span>次
        <p class="mb-0 text-light">{{site.data.settings.copyright | markdownify}}</p>
    </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>